DATABASE_URL=postgresql://postgres:PASSWORD_HERE@localhost:5432/DB_NAME_HERE
# DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require
PORT=4000
FRONTEND_URL=http://localhost:3000
SUPER_PASSWORD="password_here"
JWT_SECRET=secret_here
JWT_EXPIRY=60m
SMTP_EMAIL=sender_email_here
SMTP_PASSWORD=gmail_app_password_here
EMAIL_INTERNAL_KEY=any_random_long_secret_here

DATABASE_URL=postgresql://postgres:NerieAnn_ganda247@localhost:5432/ojt_tracker_copy_db
# DATABASE_URL=postgresql://postgres.tmrnfapeejvmflsdiapt:NerieAnn_ganda247@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
PORT=4000
FRONTEND_URL=http://localhost:3000
SUPER_NAME="Eiren Bravest"
SUPER_PASSWORD="NerieAnn247"
JWT_SECRET=199c3809167cbc5d84b366bee60866ebe5c5c088b8fba8aa3547627ad35ce9ba
JWT_EXPIRY=60m
SMTP_EMAIL=grrocket117@gmail.com
SMTP_PASSWORD=ismw anwq zuuz qliv
EMAIL_INTERNAL_KEY=3505f997fe50073dd319f202d84caef83764846de87031d5cf0c6df43c185290


# --- Face recognition ---

### WHEN USING DOCKER (REMOTE), uses /face-service running in Docker OR from another matching hence URL must be set
# FACE_ENGINE=remote                                # Can be left as blank if URL is set
# FACE_SERVICE_URL=http://localhost:8000            # or whatever port published on Docker (Mandatory)
# FACE_MATCH_THRESHOLD=0.85                       # Optional: threshold for face matching. Higher is more strict (fewer false positives but more false negatives). Default is 0.85, which is a good balance for most cases.


### NO DOCKER (LOCAL), does not use /face-service and runs face recognition locally using face-api.js.
FACE_ENGINE=local                                 # Use local face engine
# FACE_LOCAL_SIZE=64                              # Optional: For local only, size to which faces are resized before matching. Smaller is faster but less accurate.
# FACE_MATCH_THRESHOLD=0.85                       # Optional: threshold for face matching. Higher is more strict (fewer false positives but more false negatives). Default is 0.85, which is a good balance for most cases.

