DATABASE_URL=postgresql://user:password@host:5432/ojt_tracker_db
PORT=4000
FRONTEND_URL=http://localhost:3000
SUPER_PASSWORD="your_super_password_here"

# Gmail SMTP for email verification
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password